html
    head
        title= title
    body
        h1= pageTitle
        div
            | Bienvenue !
        div 
            a(href="/") Accéder à la première page
            form(id="frm" method="post")
                input(type="submit" value="Envoyer")
        
            
            