html
    head
        title= title
    body
        h1= pageTitle
        div
            | Bienvenue !
        div 
            a(href="/second-page") Accéder à la deuxième page
        
            
            